/* The lint marker gutter */
.CodeMirror-lint-markers {
  width: 16px;
}

.CodeMirror-lint-tooltip {
  background-color: #ffd;
  border: 1px solid black;
  border-radius: 4px 4px 4px 4px;
  color: black;
  font-family: monospace;
  font-size: 10pt;
  overflow: hidden;
  padding: 2px 5px;
  position: fixed;
  white-space: pre;
  white-space: pre-wrap;
  z-index: 100;
  max-width: 600px;
  opacity: 0;
  transition: opacity .4s;
  -moz-transition: opacity .4s;
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  -ms-transition: opacity .4s;
}

.CodeMirror-lint-mark-error, .CodeMirror-lint-mark-warning {
  background-position: left bottom;
  background-repeat: repeat-x;
}

.CodeMirror-lint-mark-error {
  background-image:
  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJDw4cOCW1/KIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==")
  ;
}

.CodeMirror-lint-mark-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sJFhQXEbhTg7YAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-marker-warning {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  position: relative;
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  padding-left: 18px;
  background-position: top left;
  background-repeat: no-repeat;
}

.CodeMirror-lint-marker-error, .CodeMirror-lint-message-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAABGdBTUEAALGPC/xhBQAAATdJREFUOBG1UztSwzAQ3XUBpKCNAw0HSJeYYdLSxmmo6fgcgINwgEA6ahpMCS3MYNNxACqclNAwFCx6cnYtfqZgokK7evt29bSSiMJxN2yLrVlXDMgWzNcRAHYOLC2t7Hr7aRIRn69pUTGKn0NGlGSz1RAwH6n5ML7N0/ZLkcYHGvAyEBCSLQXVbl7OeC6LJgou0EIYBHo9TrBuVYlM4yt3im0FYZNsGrmWiRf5NQhCkXZuYD0BzrfB0gX2K4GJj4zAy631sAKuq59NT0Jscb71A1vkOxtr9PZ69tOpEfcvyb2i5PzxCWsMK4BGv4uMK7h5dg0+1DNal9xrOW5Oq6Mh1wqQ8ENN+cMLuFagn5UD+y0N+dUVlQOlWA8UwM+4H3X2RWiP5q8B6php0rsoT12B+vtq0n/sBw3ubVXhzkMhAAAAAElFTkSuQmCC");
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAABGdBTUEAALGPC/xhBQAAATNJREFUOBG1UztSQkEQ7FlKMw+gV/AAFqkRPq9Aph4AS+UMPCw8AJBxBT6JpngBrqC5oZas0wO7DpRYVCkTvJnt7fnvA7wMW4j5LOkkhPJB8BQIiBrUYQ916hWRGCGjEnOi501IGJd485RQNHHgActCwFzbmErEMQKui1t0iS/KKPGsNZ4Q8GI5CGhZfX/xv3YuctTGlXbXiYKZFljVtDY5I2jjj9rFqc9d3CGQZLNbvyRRI06pjUBjXWweCm4kcFh0MkJlH0c+AteVJunx3dh5Tgw/ecDh/AODn7rmPUvjK6o18MozJTfJQX++42WTM8m8I8eWQkAlB+CWFtAWX8fNAbjiLVyN4rk5wPJ92N/yW6DliqqJszJEgtqnjO9xqfoivQZmVMf+2Q16qr9/3xTlL/oLtNFeOEvbRt8AAAAASUVORK5CYII=");
}

.CodeMirror-lint-marker-multiple {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAFo9M/3AAAABGdBTUEAALGPC/xhBQAAAZpJREFUOBG1Uz1PAkEQnV0CRoOJ1R0fMSYmJiYUhlgIDQWVAjbWdoq9Rv0Z/ACVzp9gK60awY7WVnMiKOBhEG6cWVjcKNGY6DQ7O+/NzuzbWYChiXLOaiFCUAdAXGctdFIOCEQk2PYY4oAUQuCIN85RuQx0Z97gealRkpoVePIDlUnzGSUO1hKP4AtARPCGK1VyoQuqGWvPtx036logYS9zAMeinLUvEXCFiaZxS2x0JBRN4O991WQlZ+epj4LnR6eWqFkosEoNJqm80umcbpE2azupB9oiZA6pR1bVBNnvTfegHq8DCLgaKWWSfK5PbUn22FgCiTXgk1hSTExGzGx+hE64A9RgiZU0sf/xlU7ljbkwdF9PP8uhS3JbzcUmeIG+CnF70g+bq7twR1Ng5z3EI03+bm0ttNT9NEdI2JH8Qjrw0xq8/Rh7xfWgIOkxqz8larw/NbiC3qOAqlw+u6eZGEy5BsatrEM93hhBw2dKKhE5yr/iZj20Tf9mi38Gx3j43NkXcKMdi2eLK1JicW0fTmj9MmKc82t7Bw9WnMMA2PJhAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: right bottom;
  width: 100%; height: 100%;
}
