*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
iframe {
  border: none;
}
button {
  background-color: #586e75;
  border-color: #586e75;
  color: #fdf6e3;
  padding: 8px 9px 8px 12px;
  font-family: 'avenir next', avenir,
       'helvetica neue', helvetica,
       ubuntu,
       roboto, noto,
       'segoe ui', arial,
       sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 50%;
  outline:0;
}
.CodeMirror {
  float: left;
  width: 50%;
  height: 100%;
  font-family: Consolas, monaco, monospace;
  font-size: 20px;
}
#canvas {
  float: right;
  width: 50%;
  height: 100%;
}
#runner {
  position: fixed;
  top: 10px;
  left: calc(50% - 50px);
  z-index: 999;
}
.dim {
  opacity: 1;
  transition: opacity .15s ease-in;
}
.dim:hover,
.dim:focus {
  opacity: .5;
  transition: opacity .15s ease-in;
}